<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^(.*)$ index.php [QSA,L]
</IfModule>
<Files ~ "\.(php|ht)">
deny from all
</Files>
<Files ~ "index\.php">
allow from all
</Files>
ErrorDocument 503 action/maintenance.php
